@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column" style="width: 500px">
    <h1 class="display-4 text-success text-opacity-75 fw-bold border-3 border-bottom pb-1 mt-4">DEV:PRATICA</h1>
    <h4 class="text-primary mt-3 m-lg-4 text-opacity-75">Bem vindo a página inicial!</h4>


    <ul class="text-success m-lg-4">
        <li>Cadastro de Cliente</li>
        <li>Cadastro de Fornecedor</li>
        <li>Cadastro de Funcionario</li>
    </ul>
   
    <div class="spinner-border text-success " role="status">
  <span class="visually-hidden">Loading...</span>
</div>

</div>
